body
{
        background-color: #f7d9f7;
}

div{
vertical-align: middle;
}

.wrapper {
  margin-right: auto; /* 1 */
  margin-left:  auto; *//* 1 */

  max-width: 960px; *//* 2 */

  padding-right: 10px; *//* 3 */
  padding-left:  10px; *//* 3 */
}

.productItem {
    padding: 35px;
}
.product_img{
    height:250px;
    width:250px;
    display:inline-block;
}
