{% load static %}
<html>

  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href={% static 'ecommerce/style.css' %}>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Snowplow starts plowing -->
    <script type="text/javascript">
      ;(function (p, l, o, w, i, n, g) {
          if (!p[i]) {
              p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
              p.GlobalSnowplowNamespace.push(i);
              p[i] = function () {
                  (p[i].q = p[i].q || []).push(arguments)
              };
              p[i].q = p[i].q || [];
              n = l.createElement(o);
              g = l.getElementsByTagName(o)[0];
              n.async = 1;
              n.src = w;
              g.parentNode.insertBefore(n, g)
          }
      }(window, document, "script", "{% static 'ecommerce/sp.js' %}", "snowplow"));

      window.snowplow('newTracker', 'spmicro', '0.0.0.0:9090', { // Initialise a tracker

          encodeBase64: false,
          appId: 'sh0pspr33',
          platform: "web",
          discoverRootDomain: true,
          eventMethod: "beacon", // "post", "get", "beacon"
          contexts : {
              webPage: true
          }

      });

      window.snowplow('setUserId', 'tester');
      window.snowplow('enableActivityTracking', 20, 20);
      window.snowplow('enableLinkClickTracking', null, true, true);
      window.snowplow('enableFormTracking');

      window.snowplow('trackPageView', 'ecommerce.checkout');

    </script>
    <!-- Snowplow stops plowing -->

  </head>

  <body>

    <div class="container">

      <div class="row" style="margin-top:2em; margin-bottom:2em;background-color:lightblue;">

        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
          <h1>Ready for checkout?</h1>
        </div>

        <div class="col-lg-2">
        </div>

      </div>

      <div class="row">

        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
          <h4>Your purchase so far</h4>
          <p>Subtotal: {{ subtotal }}</p><br>
        </div>

        <div class="col-lg-2">
        </div>

      </div>

      <div class="row">

        <div class="col-lg-2">
        </div>

        <div class="col-lg-8">
          <form method="get" action="javascript:void(0);">

            <div class="form-group">
              <legend>Contact information</legend>
              <label for="email">Email:</label>
              <input type="email" class="form-control" name="user_email" id="email" value="john.doe@fake.com" required>
            </div>

            <div class="form-group">
              <legend>Shipping information</legend>

              <label for="name">Name:</label>
              <input type="text" class="form-control" name="user_name" id="name" value="John" required>

              <label for="surname">Surname:</label>
              <input type="text" class="form-control" name="user_surname" id="surname" value="Doe" required>

              <label for="address">Address:</label>
              <input type="text" class="form-control" name="user_address" id="address" value="2 Second str" required>

              <label for="city">City:</label>
              <input type="text" class="form-control" name="user_city" id="city" value="MyCity" required>

              <label for="country">Country:</label>
              <input type="text" class="form-control" name="user_country" id="country" value="MyCountry" required>

              <input type="text" name="user_subtotal" id="subtotal" autocomplete=off style="display: none;" value="{{ subtotal }}">
            </div>

              <button type="submit" class="btn btn-primary">Complete payment</button>
              <input type="reset" class="btn btn-dark">

          </form>

        </div>

        <div class="col-lg-2">
        </div>
      </div>

    </div>

  </body>

</html>
