.idea/

# Django
*.log
*.pot
*.py[cod]
__pycache__/

# Node
node_modules/

# Nightwatch in testing dir
testing/tests_output/
nightwatch/tests_output/

# Cypress in testing dir
testing/cypress/videos/
testing/cypress/screenshots/
testing/cypress/integration/examples/
