.idea/

# Django
*.log
*.pot
*.py[cod]
__pycache__/

# Node
nightwatch/node_modules/
nightwatch/tests_output/


## Cypress
# cypress/videos/
# cypress/screenshots/
# cypress/integration/examples/

# Cypress in tests dir
tests/cypress/videos/
tests/cypress/screenshots/
tests/cypress/integration/examples/
