{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href={% static 'ecommerce/style.css' %}>
    <title>Shopping Spree</title>
    <script type="text/javascript">
      ;(function (p, l, o, w, i, n, g) {
          if (!p[i]) {
              p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
              p.GlobalSnowplowNamespace.push(i);
              p[i] = function () {
                  (p[i].q = p[i].q || []).push(arguments)
              };
              p[i].q = p[i].q || [];
              n = l.createElement(o);
              g = l.getElementsByTagName(o)[0];
              n.async = 1;
              n.src = w;
              g.parentNode.insertBefore(n, g)
          }
      }(window, document, "script", "{% static 'ecommerce/sp.js' %}", "snowplow"));

      window.snowplow('newTracker', 'spmicro', '0.0.0.0:9090', { // Initialise a tracker

          encodeBase64: false,
          appId: 'sh0pspr33',
          platform: "web",
          discoverRootDomain: true,
          eventMethod: "beacon", // "post", "get", "beacon"
          contexts : {
              webPage: true
          }

      });
      window.snowplow('enableActivityTracking', 10, 10); // Ping every 10 seconds after 10 seconds
      window.snowplow('enableLinkClickTracking', null, true, true);
      window.snowplow('enableFormTracking');

      window.snowplow('trackPageView');

    </script>
    <!-- Snowplow stops plowing -->
    <script type="text/javascript">

    function dropdownChange(selection, product_id, selected_value){

        console.log(selected_value);
        console.log(selection);
        console.log(product_id);

    }


    </script>
</head>

<body>
   {% for product in product_list %}
<!-- Product Detail -->
   <div class="wrapper">
	<div class="product">
		<div class="">
            <input type="image" class="product_img" src="/static/ecommerce/images/{{ product.image_name }}">
        </div>

        <div class="productItem">
            <div>{{ product.description }}</div>
            <div>
                <p>
                 <label>Size</label>
                 <select onchange="dropdownChange('Size', {{ product.id }}, this.value);">
                     <option value="" selected disabled hidden>Choose here</option>
                      {% for size in product.sizes %}
                            <option value = "{{ size }}">{{ size }}</option>
                     {% endfor %}

                 </select>
                </p>
                <p>
                 <label>Quantity</label>
                    <select onchange="dropdownChange('Quantity', {{ product.id }}, this.value);">
                     <option value="" selected disabled hidden>Choose here</option>
                      {% for quantity in product.quantity %}
                            <option value = "{{ quantity }}">{{ quantity }}</option>
                     {% endfor %}

                 </select>
                </p>
                <p>
                 <label>Colour</label>
                    <select onchange="dropdownChange('Colour', {{ product.id }}, this.value);">
                     <option value="" selected disabled hidden>Choose here</option>
                      {% for colour in product.colours %}
                            <option value = "{{ colour }}" style="color:red">{{ colour }}</option>
                     style="color:blue"
                     {% endfor %}

                 </select>
                </p>
            </div>
            <div> <button type="button">Add to basket</button> </div>

        </div>
    </div>
</div>
    {% endfor %}



</body>

</html>
