{% load static %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href={% static 'ecommerce/style.css' %}
    <title>Shopping Spree</title>
    <script src="/static/ecommerce/homepage.js" async></script>
    <script type="text/javascript">

      ;(function (p, l, o, w, i, n, g) {
          if (!p[i]) {
              p.GlobalSnowplowNamespace = p.GlobalSnowplowNamespace || [];
              p.GlobalSnowplowNamespace.push(i);
              p[i] = function () {
                  (p[i].q = p[i].q || []).push(arguments)
              };
              p[i].q = p[i].q || [];
              n = l.createElement(o);
              g = l.getElementsByTagName(o)[0];
              n.async = 1;
              n.src = w;
              g.parentNode.insertBefore(n, g)
          }
      }(window, document, "script", "{% static 'ecommerce/sp.js' %}", "snowplow"));

      window.snowplow('newTracker', 'spmicro', '0.0.0.0:9090', { // Initialise a tracker

          encodeBase64: false,
          appId: 'sh0pspr33',
          platform: "web",
          discoverRootDomain: true,
          eventMethod: "beacon", // "post", "get", "beacon"
          contexts : {
              webPage: true
          }

      });
      window.snowplow('enableActivityTracking', 10, 10); // Ping every 10 seconds after 10 seconds
      window.snowplow('enableLinkClickTracking', null, true, true);
      window.snowplow('enableFormTracking');

      window.snowplow('trackPageView');

    </script>
    <!-- Snowplow stops plowing -->
    <script type="text/javascript">

    function dropdownChange(property, product_id, selected_value, price, currency){
      window.snowplow('trackSelfDescribingEvent', {
          schema: 'iglu:com.ecommerce.test/selection_event/jsonschema/1-0-0',
             data: {
                 property: property,
                 product_id: product_id,
                 selected_value: selected_value,
                 price: price,
                 currency: currency
                 }
        });
    }

    function addToBasket(){
        var e = document.getElementById("quantity_dd");
        var selected_quantity = e.options[e.selectedIndex].value;

        var e = document.getElementById("colour_dd");
        var selected_colour = e.options[e.selectedIndex].value;
        window.snowplow('trackAddToCart', '000345', 'blue tie', 'clothing', 3.49, 2, 'GBP');
    }




    </script>
</head>

<body>
   <div class="shop-items">
   {% for product in product_list %}
<!-- Product Detail -->
   <div class="wrapper">
        <input type="image" class="product_img" src="/static/ecommerce/images/{{ product.image_name }}">
        <div class="container content-selection">
            <h2 class ="section-header"> Shopping Spree!</h2>

            </div>
            <div class="product-title">{{ product.description }}</div>
            <div class = "shop-item">
                <p>
                  <label>Quantity</label>
                  <!-- ** -->
                    <select id="quantity_dd" onchange="dropdownChange('Quantity', {{ product.id }}, this.value, {{ product.price }}, '{{ product.currency }}' );">
                     <option value="" selected disabled hidden>Choose here</option>
                      {% for quantity in product.quantity %}
                            <option value = "{{ quantity }}">{{ quantity }}</option>
                     {% endfor %}
                 </select>
                </p>
            <span class="product-price">{{ product.price }}</span>
            <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
            </div>
        </div>
    </div>
</div>
    {% endfor %}
        <section class="container content-section">
            <h2 class="section-header">CART</h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">ITEM</span>
                <span class="cart-price cart-header cart-column">PRICE</span>
                <span class="cart-quantity cart-header cart-column">QUANTITY</span>
            </div>
            <div class="cart-items">
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total</strong>
                <span class="cart-total-price">£0</span>
            </div>
            <button class="btn btn-primary btn-purchase" type="button" onclick=toCheckout()>PURCHASE</button>
        </section>


</body>

</html>
